body {
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	font-size: 10px;
}

.topbar {
	background-color: #F4F4F4;
	width: 100%;
	height: 50px;
	padding: 11px;
	display: block;
	position: fixed;
	font-size: 14px;
	box-sizing: border-box;
}

.title {
	font-size: 20px;
	font-weight: bold;
	padding-left: 5px;
	padding-right: 50px;
}

.topbar select {
	padding: 6px;
	margin: 0 2px;
	border-radius: 5px;
	border: none;
}

.topbar input {
	padding: 7px;
	margin: 0 2px;
	border-radius: 5px;
	border: none;
	width: 500px;
}

.calendar {
	position: absolute;
	height: calc(100vh - 50px);
	width: 230px;
	float: left;
	background-color: #FAFAFA;
	overflow-y: auto;
	overflow-x: hidden;
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-sizing: border-box;
	margin-top: 50px;
}

.calendar .block {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin: 0px 1px;
	color: #000000;
}

.calendar .day {
	cursor: pointer;
}

.calendar .year {
	width: 110px;
	margin: 8px 0px;
	color: #8F8F8F;
	font-size: 14px;
	text-align: center;
	cursor: pointer;
}


.calendar .month {
	position: relative;
	display: inline-block;
	height: 0px;
	width: 0px;
	text-transform: uppercase;
	color: #8F8F8F;
	font-size: 14px;
	transform: rotate(-90deg);
	left: -30px;
	top: 30px;
    white-space:nowrap;
	white-space: nowrap;
	cursor: pointer;
}

.calendar .linebreak {
	width:100%;
}

.calendar .shade0 {
	background-color: #EBEDF0;
	color: #CCCED1;
}

.calendar .shade1 {
	background-color: #C6E48B;
	color: #AEC977;
}

.calendar .shade2 {
	background-color: #7BC96F;
	color: #6DAA65;
}

.calendar .shade3 {
	background-color: #239A3B;
	color: #1E6E2E;
}

.calendar .shade4 {
	background-color: #196127;
	color: #122712;
}

.calendar .shade5 {
	background-color: #113714;
	color: #000000;
}

.timeline {
	position: fixed;

	margin-left: 230px;
	margin-top: 50px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 20px;
	box-sizing: border-box;

	height: calc(100vh - 45px);
	width: calc(100% - 230px);

	font-size: 14px;
}

.loadMore {
	margin: 20px;
	text-align: center;
	cursor: pointer;
}

.event {
	padding: 8px;
	cursor: default;
	position: relative;
}

.timeline .day {
	padding: 6px;
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold;
}

.timeline .event .time {
	position: absolute;
	color: #545454;
}

.timeline .event .summary {
	padding-left: 75px;
}

.tags {
	padding-left: 75px;
	padding-top: 6px;
}

.tags .tag {
	background-color: #F7F7F7;
	color: #838383;
	padding: 3px 8px;
	margin-right: 8px;
	border-radius: 3px;
	font-size: 12px;
	cursor: pointer;
}

.event:hover .tag {
	background-color: #F0F0F0;
	color: #292929;
}

.event .icon {
	background-size: 20px;
	width: 20px;
	height: 20px;
	position: absolute;
	left: 55px;
	top: 6px;
}

.tags a {
	width: 200px;
    overflow-x: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    font-size: 12px;
    position: relative;
    top: 3px;
    color: #838383;
	white-space: nowrap;
}

.event:hover a {
	width: auto;
    color: #0000EE;
}

.details {
	background-color: #F4F4F4;
	padding: 10px;
	padding-top: 16px;
	margin-top: 20px;
	margin-left: 75px;
	max-width: 800px;
}

.details .key {
	position: absolute;
	color: #545454;
	display: block;
	width: 120px;
	text-align: right;
}

.details .value {
	margin-bottom: 8px;
    margin-left: 130px;
    min-height: 16px;
}

.images {
	padding: 16px;
	padding-left: 75px;
	padding-bottom: 2px;
	margin-bottom: -10px;
}

.images img {
	max-width: 128px;
	max-height: 128px;
	padding-right: 10px;
	padding-bottom: 10px;
}
